name: Tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        go-version: ['1.21', '1.22']
    
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      
      - name: Go Format
        run: gofmt -s -w . && git diff --exit-code
      
      - name: Go Vet
        run: go vet ./...
      
      - name: Go Test
        run: go test -v -cover -timeout=120s -parallel=4 ./...
      
      - name: Go Build
        run: go build -v .